#container {
  display: block;
  width: auto;
  max-width: 768px;
  margin: 0 auto;
}

.join_div {
}

.join_row {
  display: block;
}

.ps_box {
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  background: #fff;
  box-sizing: border-box;
  vertical-align: top;
}

.ps_box_invalid {
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #e36209;
  padding: 10px 14px 10px 14px;
  background: #fff;
  box-sizing: border-box;
  vertical-align: top;
}

.user_input {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  line-height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
}

.birth_wrap,
.name_wrap {
  display: table;
  width: 100%;
}

.birth_dd,
.birth_mm,
.birth_yy {
  display: table-cell;
  table-layout: fixed;
  width: 147px;
  vertical-align: middle;
  *display: block;
  *float: left;
}

.sel {
  width: 100%;
  height: 29px;
  padding: 7px 8px 6px 7px\9;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  border: none;
  border-radius: 0;
  *height: auto;
  *margin-top: 3px;
  -webkit-appearance: none;
}

:root {
  --text-color: 16px;
}
